.black-box {
  width: 150px;
  height: 150px;
  background-color: black;
  background-image: url("../public/mypic.png");
  background-size: cover;
}

.disabled-link {
  pointer-events: none;
  color: black;
  text-decoration: none;
  cursor: default;
}